<!--
  Target for toggling the sidebar `.sidebar-checkbox` is for regular styles, `#sidebar-checkbox` for
  behavior.
-->
<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">

<!-- Toggleable sidebar -->
<div class="sidebar" id="sidebar">
  <div class="sidebar-item">
    <p>{{ site.description }}</p>
  </div>

  <nav class="sidebar-nav">
    <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ site.baseurl }}/">Home</a>

    <nav class="sidebar-nav">
      <a class="sidebar-nav-item" href="/lingcraft/about" target="_blank">About</a>

    <nav class="sidebar-nav">
      <a class="sidebar-nav-item" href="/lingcraft/documentation">Documentation</a>
      <nav class="sidebar-nav">
        <a class="sidebar-nav-item" href="/lingcraft/achagua" style="padding-left:50px;font-size:90%;border-top: none;line-height:2px">Achagua</a>

    {% comment %}
      The code below dynamically generates a sidebar nav of pages with
      `layout: page` in the front-matter. See readme for usage.
    {% endcomment %}


    <!-- The code below is used for manually entered links  -->
    <nav class="sidebar-nav">
      <a class="sidebar-nav-item" href="/lingcraft/sources" target="_blank">Sources</a>

  <!--
    <a class="sidebar-nav-item" href="https://via.hypothes.is/{{ site.url }}{{ site.baseurl }}{{page.url}}/" data-proofer-ignore>Annotate me</a>
    <script src="https://hypothes.is/embed.js" async></script>
  -->
<!---
   <a class="sidebar-nav-item" href="https://github.com/minicomp/ed" target="_blank">Map</a>
  </nav>
  -->
  <nav class="sidebar-nav">
    <a class="sidebar-nav-item" href="http://127.0.0.1:4000/lingcraft/news" target="_blank">News</a>

    <nav class="sidebar-nav">
      <a class="sidebar-nav-item" href="http://127.0.0.1:4000/lingcraft/credits" target="_blank">Credits</a>

  <div class="sidebar-item">
    <p>Currently v1.0 Distributed with an MIT license.</p>
  </div>
</div>
