---
sitemap: false
---


/*
  Common Variables

  Feel free to change!
*/

/* FONTS */
$main-font: "Palatino Linotype", "Book Antiqua", Palatino, serif;
$heading-font: sans-serif;
$regular-font-size: 20px;


/*
  COLOR.

  Make sure to leave color-scheme in config file empty for granular control
*/

$text-color: #454545;
$heading-color: #404040;
$link-color: #275b8c;

@import "ed";
@import "syntax";
@import url('https://fonts.googleapis.com/css?family=IM+Fell+DW+Pica|Ubuntu&display=swap');


.sidebar {
    background-color: #5e778e;
}

.bibliografia {
//    color: #FF00FF;
    padding-left: 50px;
    text-indent: -50px;
    line-height: 99%;
}

h1 {
      font-family: 'IM Fell DW Pica', serif;
}

.masthead-title a {
    font-family: 'IM Fell DW Pica', serif;
}

html {
    font-family: 'IM Fell DW Pica';
    font-size: 24px;
    line-height: 2;
    font-size: .88rem;
font-weight: 300;
letter-spacing: .05rem;
}

p {
//      font-family: 'Ubuntu', sans-serif;
}
